/* mulish-regular - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./mulish-v13-latin-regular.woff2') format('woff2');
}
/* mulish-500 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./mulish-v13-latin-500.woff2') format('woff2');
}
/* mulish-600 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('./mulish-v13-latin-600.woff2') format('woff2');
}
/* mulish-700 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./mulish-v13-latin-700.woff2') format('woff2');
}
